/ %h2 Sign up
/ = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
/   = devise_error_messages!
/   .field
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true, autocomplete: "email"
/   .field
/     = f.label :password
/     - if @minimum_password_length
/       %em
/         (#{@minimum_password_length} characters minimum)
/     %br/
/     = f.password_field :password, autocomplete: "off"
/   .field
/     = f.label :password_confirmation
/     %br/
/     = f.password_field :password_confirmation, autocomplete: "off"
/   .actions
/     = f.submit "Sign up"

= render "devise/shared/links"
/*---users----------------------------------------------*/
= render 'devise/shared/login_content'
= render 'devise/shared/signup_branch'
= render 'devise/shared/covenant_section'

/*---devise/registrations-------------------------------*/
= render 'devise/registrations/signup_welcome'
= render 'devise/registrations/signup_section'
= render 'devise/registrations/signup_registration'
= render 'devise/registrations/signup_profile'
= render 'devise/registrations/signup_phone_number'
= render 'devise/registrations/signup_one_more_section'
= render 'devise/registrations/signup_mail_certification'
= render 'devise/registrations/signup_finish_section'

/*---devise/sessions------------------------------------*/
/ = render 'devise/sessions/login_session'
