= render "devise/shared/links"
/*---users----------------------------------------------*/
= render 'devise/shared/login_content'
= render 'devise/shared/signup_branch'
= render 'devise/shared/covenant_section'

/*---devise/registrations-------------------------------*/
= render 'devise/registrations/signup_welcome'
= render 'devise/registrations/signup_registration'
= render 'devise/registrations/signup_profile'
= render 'devise/registrations/signup_phone_number'
= render 'devise/registrations/signup_one_more_section'
= render 'devise/registrations/signup_mail_certification'
= render 'devise/registrations/signup_finish_section'
