.signup_registration_contents
  .signup_registration_contents__top_content
    = button_to '×'
  .signup_registration_contents__switch_content
    %a.redirect_btn{href: root_path} Facebook
    または
    %a.redirect_btn{href: root_path} Google
    で登録
  .section_message または
  .signup_registration_contents__form_content
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field_input_area
        = f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email", class: 'login_form'
      .field_input_area
        = f.text_field :first_name, placeholder: "名", autocomplete: true, class: 'login_form'
      .field_input_area
        = f.text_field :last_name, placeholder: "性", autocomplete: true, class: 'login_form'
      .field_input_area
        = f.password_field :password, placeholder: "パスワードを作成", autocomplete: "off", class: 'login_form click_password'
      .field_label
        = f.label :birth_day, "生年月日"
        .field_label__text ご登録は18歳以上の方に限ります。誕生日は非公開です
      .field_select_area
        = f.date_select(                        |
          :birth_day,                           |
          include_blank: true,                  |
          start_year:     1930,                 |
          end_year:       (Time.now.year - 18)) |
      .field_content お得なキャンペーン、スペシャルオファー、旅やポリシーの最新情報をメールでお届けします
      .field_submit_area
        = f.submit "登録", class: 'registration_btn', id: 'submit'
      .field_checkbox_area
        = f.check_box :remember_me
        .field_checkbox_area__label
          = f.label "Airbnbから広告メッセージの受け取りを希望しない。広告メッセージはアカウントの設定や文中リンクでいつでも配信解除できる。"
  .signup_registration_contents__border_line
    .correction_position
    %hr
  .signup_registration_contents__bottom_content
    .text_area Airbnbアカウントはお持ちですか？
    %a.redirect_btn#return_login{href: root_path} ログイン
= render "devise/shared/links"


