<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth day</th>
      <th>Sex</th>
      <th>Phone number</th>
      <th>Postal code</th>
      <th>Prefeture</th>
      <th>Town</th>
      <th>Street</th>
      <th>Building</th>
      <th>Self introduction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.birth_day %></td>
        <td><%= user.sex %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.postal_code %></td>
        <td><%= user.prefeture %></td>
        <td><%= user.town %></td>
        <td><%= user.street %></td>
        <td><%= user.building %></td>
        <td><%= user.self_introduction %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
