.header.clearfix
  .navibar
    .navibar__icon
      = link_to image_tag("Airbnb_icon.png", alt: "airbnb_icon"), '#'
    .navibar__search
      = form_tag('#', method: :get) do
        %input.search__query#search-field{name: "keyword", placeholder: "◯○などエリアを入力", type: "text", value: ""}
          = image_tag('search_icon.png', alt: 'search_icon')
    - if user_signed_in?
      %ul.navibar__list
        %li.navibar__list__content
          = link_to 'お部屋を掲載', '#'
        %li.navibar__list__content
          ホストをはじめる
          %ul.navigation.hide#host
            %li.hide_content
              = link_to '宿泊先をホストする', new_home_path
            %li.hide_content
              = link_to '体験をホストする'
        %li.navibar__list__content
          お気に入り
          %ul.navigation.hide#favorite
            .content__head
              %span お気に入り
              = link_to 'お気に入りを表示'
            %li.content__row
              = link_to(class: 'content__row__link') do
                .content__block
                  .content__block__text
                    .content__title
                      %span リストが作成されていません
                    .content__info
                      お気に入りを作成する
                  .content__block__img
                    .fa.fa-heart-o.my-favorite
        %li.navibar__list__content
          旅行
          %ul.navigation.hide#trip
            .content__head
              %span 旅行
              = link_to '旅行一覧を見る'
            %li.content__row
              = link_to(class: 'content__row__link') do
                .content__block
                  .content__block__text
                    .content__title
                      %span 今後の旅行 0件
                    .content__info
                      宿泊先を探す
                  .content__block__img
                    .fa.fa-suitcase.my-favorite
        %li.navibar__list__content
          メッセージ
          %ul.navigation.hide#message
            %li.hide_content
              = link_to do
                %span メッセージ
                %span.right 全てを表示する
            %li.hide_content
              = link_to do
                %span 通知
                %span.right 全てを表示する
        %li.navibar__list__content
          クーポン
          .navigation.hide#coupon
            %span.hide_content
              Airbnbに友達を1人紹介するごとに¥ 1,900獲得できます。
            = link_to '規約を読む', '#', class: 'hide_coupon_link'
            = link_to '友達を招待する', '#', class: 'invite__friend'
        %li.navibar__list__content
          ヘルプ
          .navigation.hide#help
            .help__head
              .help__head__link
                = link_to 'Airbnbヘルプ', '#'
              .help__head__close
                = image_tag('close_icon.png', alt: 'close_icon', class: 'help__head__close__img')
            .help__content
              .help__content__form
                %input.help__content__form__input{name: "keyword", placeholder: "質問またはキーワード検索", type: "text", value: ""}
                = image_tag('search_icon.png', alt: 'search_icon')
              .help__content__head
                おすすめトピック
              .help__content__list
                %ul
                  %li.help__content__list__item
                    = link_to '予約リクエスト'
                  %li.help__content__list__item
                    = link_to 'ホストに連絡'
                  %li.help__content__list__item
                    = link_to '料金＆手数料'
                  %li.help__content__list__item
                    = link_to 'ご旅行準備'
                  %li.help__content__list__item
                    = link_to '変更＆キャンセル'
                  %li.help__content__list__item
                    = link_to 'トラブル解決'
            .help__row
              .help__row__block
                =link_to '#' do
                  .help__row__block__btn
                    %span ヘルプセンターへ
                .help__row__block__link
                  = link_to 'フィードバックを送る', '#', class: 'help__row__block__link__text'
        %li.navibar__list__content
          = image_tag("no_img.png", alt: "no_img_icon", id: "navibar__list__user__img")
          %ul.navigation.hide#user
            %li.hide_content
              = link_to 'プロフィールを編集する'
            %li.hide_content
              = link_to '友達を招待する'
            %li.hide_content
              = link_to 'ホストに招待'
            %li.hide_content
              = link_to 'アカウントの設定'
            %li.hide_content
              = link_to 'マイガイドブック'
            %li.hide_content
              = link_to 'Airbnbビジネスプログラム'
            %li.hide_content
              = link_to 'ログアウト'
    - else
      %ul.navibar__list
        %li.navibar__list__content
          ホストをはじめる
          %ul.navigation.hide#host
            %li.hide_content
              = link_to '宿泊先をホストする', new_home_path
            %li.hide_content
              = link_to '体験をホストする'
        %li.navibar__list__content
          ヘルプ
          .navigation.hide#help-non-login
            .help__head
              .help__head__link
                = link_to 'Airbnbヘルプ', '#'
              .help__head__close
                = image_tag('close_icon.png', alt: 'close_icon', class: 'help__head__close__img')
            .help__content
              .help__content__form
                %input.help__content__form__input{name: "keyword", placeholder: "質問またはキーワード検索", type: "text", value: ""}
                = image_tag('search_icon.png', alt: 'search_icon')
              .help__content__head
                おすすめトピック
              .help__content__list
                %ul
                  %li.help__content__list__item
                    = link_to '予約リクエスト'
                  %li.help__content__list__item
                    = link_to 'ホストに連絡'
                  %li.help__content__list__item
                    = link_to '料金＆手数料'
                  %li.help__content__list__item
                    = link_to 'ご旅行準備'
                  %li.help__content__list__item
                    = link_to '変更＆キャンセル'
                  %li.help__content__list__item
                    = link_to 'トラブル解決'
            .help__row
              .help__row__block
                =link_to '#' do
                  .help__row__block__btn
                    %span ヘルプセンターへ
                .help__row__block__link
                  = link_to 'フィードバックを送る', '#', class: 'help__row__block__link__text'
        %li.navibar__list__content
          = link_to '登録する'
        %li.navibar__list__content
          = link_to 'ログイン'
