.header.clearfix
  .navibar
    .navibar__icon
      = link_to image_tag("Airbnb_icon.png", alt: "airbnb_icon"), root_path
    .navibar__search
      = form_tag(root_path, method: :get) do
        %input.search__query#search-field{name: "keyword", placeholder: "◯○などエリアを入力", type: "text", value: ""}
          = image_tag('search_icon.png', alt: 'search_icon')
    %ul.navibar__list
      %li
        = link_to 'お部屋を掲載', root_path
      %li.navigation
        ホスト
      %li
        お気に入り
      %li
        旅行
      %li
        メッセージ
      %li
        クーポン
      %li
        ヘルプ
      %li
        = image_tag("no_img.png", alt: "no_img_icon", id: "navibar__list__user__img")
