.reservation_new
  = form_for home_reservation do |f|
    .reservation_new__heading
      .default_fee
        %h1.bold.per_day
          = currency("#{home.price.default_price}")
        %p / 1泊
      .review
        %span.review-star ★★★★★
        %span.bold 255
    .reservation_new__body
      %h5 日付
      %table.form-type-btn.form-type-btn__visible
        %th
          = f.text_field :checkin_date, class: 'reservation-checkin calc-listner',placeholder: "チェックイン",autocomplete: "off",readonly: :true
        %th
          %i.fa.fa-arrow-right.fa-lg
        %th
          = f.text_field :checkout_date, class: 'reservation-checkout calc-listner',placeholder: "チェックアウト",autocomplete: "off",readonly: :true
      .number_of_guests
        %h5 人数
        .form-type-btn.form-type-btn__visible#guests-num-btn
          .form-texts.inline
            %p.form-text-adult ゲスト1人
          .form-icon
            %i.fa.fa-angle-down.fa-lg#rotate
        .capacity_condition.capacity_condition_guests#select-guests-num
          .select-capacity.clearfix
            .select-capacity__adults.select-capacity__item.clearfix
              .human-attributes
                %p.hight40 大人
              .counting-box.clearfix.right
                .counting-down
                  %button.count-down-adult{disabled: true} -
                .number
                  %p.number-of-adult-html 1
                .counting-up
                  %button.count-up-adult +
            .select-capacity__children.select-capacity__item.clearfix
              .human-attributes
                %p 子ども
                %p 年齢2 - 12
              .counting-box.clearfix.right
                .counting-down
                  %button.count-down-children{disabled: true} -
                .number
                  %p.number-of-children-html 0
                .counting-up
                  %button.count-up-children +
            .select-capacity__babies.select-capacity__item.clearfix
              .human-attributes
                %p 乳幼児
                %p 2歳未満
              .counting-box.clearfix.right
                .counting-down
                  %button.count-down-babies{disabled: true} -
                .number
                  %p.number-of-babies-html 0
                .counting-up
                  %button.count-up-babies +
            .notification-box
              %h4.top 最大#{home.capacity}名まで宿泊可能。
              %h4 乳幼児は人数にカウントされません。
            .action-box
              %button.close-button.bold 閉じる
    .reservation_new__body--hidden
      %p.hidden#max_guests_num #{home.capacity}
      = f.hidden_field :number_of_adults, required: true,class: "number-of-adult-sa", value: 1
      = f.hidden_field :number_of_children, class: "number-of-children-sa", value: 0
      = f.hidden_field :number_of_babies, class: "number-of-babies-sa", value: 0
      = f.hidden_field :service_fee, value: home.price.service_fee
      = f.hidden_field :cleaning_fee, value: home.price.cleaning_fee
      = f.hidden_field :per_day_fee, value: 0,required: true,class: "per_day_fee"
      = f.hidden_field :total_fee, value: 0,required: true,class: "total_fee"
      = f.hidden_field :user_id, value: 1
      = f.hidden_field :home_id, value: home.id
    .reservation_new__result.removed
      .reservation_new__result__default.clearfix
        %span.left.stay_day
        %i.fa.fa-question-circle-o.bill-statement
        %span.right.variable_sum
      .reservation_new__result__cleaning.clearfix
        %span.left 清掃料金
        %i.fa.fa-question-circle-o
        %span.right
          = currency("#{home.price.cleaning_fee}")
        .fee-annotation_cleaning.sub-window.removed
          %p お部屋のお掃除の費用をホストが請求します。1滞在につき1回の料金です。
          %h2.close-btn-annotation ×
      .reservation_new__result__service.clearfix
        %span.left サービス料
        %i.fa.fa-question-circle-o
        %span.right
          = currency("#{home.price.service_fee}")
        .fee-annotation_service.sub-window.removed
          %p プラットフォームの運営と24時間365日の旅行サポートなどのサービス提供にかかる費用です。VAT込み。
          %h2.close-btn-annotation ×
      .reservation_new__result__total.clearfix
        %span.left.bold 合計
        %span.right.bold#total_price
    .reservation_new__submit
      = f.submit "予約をリクエスト", id: "button", class: "submit_btn"
      %p まだ請求は発生しません
    .reservation_new__message
      %h1.bold お得
      %p この立地、星評価、アメニティ・設備でこの料金設定はお得感あり
      = image_tag("trophy.gif")
  
