<p id="notice"><%= notice %></p>

<h1>Home Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Accuracy rate</th>
      <th>Location rate</th>
      <th>Communication rate</th>
      <th>Cleanliness rate</th>
      <th>Checkin rate</th>
      <th>Cost performance rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @home_reviews.each do |home_review| %>
      <tr>
        <td><%= home_review.review %></td>
        <td><%= home_review.accuracy_rate %></td>
        <td><%= home_review.location_rate %></td>
        <td><%= home_review.communication_rate %></td>
        <td><%= home_review.cleanliness_rate %></td>
        <td><%= home_review.checkin_rate %></td>
        <td><%= home_review.cost_performance_rate %></td>
        <td><%= link_to 'Show', home_review %></td>
        <td><%= link_to 'Edit', edit_home_review_path(home_review) %></td>
        <td><%= link_to 'Destroy', home_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home Review', new_home_review_path %>
