= form_with(model: home, local: true) do |f|
  - if home.errors.any?
    #error_explanation
      %h2
        = pluralize(home.errors.count, "error")
        prohibited this home from being saved:
      %ul
        - home.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.hidden_field :user_id, value: 1
    %h4 capacity（定員）
    = f.number_field :capacity
    %h4 num-of-bedroom（部屋数）
    = f.number_field :number_of_bedroom
    %h4 num-of-bathroom（バスルーム数）
    = f.number_field :number_of_bathroom
    %h4 ベッド数
    = f.number_field :number_of_beds
    #map
    %h4 postal（郵便番号）
    = f.text_field :postalcode, id: "zip"
    = button_tag"住所を自動入力", type: 'button', class: 'zip_btn'
    %h4 prefecture（都道府県）
    = f.text_field :prefecture, id: "state"
    %h4 town（市町村）
    = f.text_field :town, id: "town"
    %h4 street（番地）
    = f.text_field :street, id: "street1"
    %h4 building（建物名）
    = f.text_field :building, id: "street2"
    %h4 locationX
    = f.text_field :location_x, id: "lat"
    %h4 locationY
    = f.text_field :location_y, id: "lon"
    %h4 name
    = f.text_field :name
    %h4 country-id
    = f.collection_select :country_id, @countries, :id, :name
    %h4 home-cate-sub-id
    = f.collection_select :home_category_sub_id, @sub_categories, :id, :name
    %h4 room-type-id
    = f.collection_select :room_type_id, @room_types, :id, :name
    %h4 user-id
    %h4 currency
    = f.collection_select :currency_id, @currency, :id, :name

    %h3 additional_home_rules
    = f.fields_for :additional_home_rules do |additional_home_rules|
      %h5 content
      = additional_home_rules.text_field :content

    %h3 アメニティ
    = f.fields_for :amenity do |amenity|
      %h5 ness
      = amenity.check_box :necessities
      %h5 wifi
      = amenity.check_box :wifi
      %h5 shampoo
      = amenity.check_box :shampoo
      %h5 closet
      = amenity.check_box :closet
      %h5 tv
      = amenity.check_box :tv_set
      %h5 heating
      = amenity.check_box :heating
      %h5 air-cond
      = amenity.check_box :air_conditioner
      %h5 breakfast
      = amenity.check_box :breakfast
      %h5 desk
      = amenity.check_box :desk
      %h5 fireplace
      = amenity.check_box :fireplace
      %h5 iron
      = amenity.check_box :iron
      %h5 hair-dryer
      = amenity.check_box :hair_dryer
      %h5 allowed-pet
      = amenity.check_box :allowed_pet
      %h5 smoke-detector
      = amenity.check_box :smoke_detector
      %h5 carbon-monoxide-dete
      = amenity.check_box :carbon_monoxide_detecter
      %h5 aid-set
      = amenity.check_box :aid_set
      %h5 fire-extinguidher
      = amenity.check_box :fire_extinguisher
      %h5 disaster-card
      = amenity.check_box :disaster_card
      %h5 keyed-door
      = amenity.check_box :keyed_door

    %h3 ベッドタイプ
    = f.fields_for :bed_type do |bed_type|
      %h5 single
      = bed_type.number_field :single_bed
      %h5 double
      = bed_type.number_field :double_bed
      %h5 queen
      = bed_type.number_field :queen_bed
      %h5 sofa
      = bed_type.number_field :sofa_bed

    %h3 アベイラブルスペース
    = f.fields_for :available_space do |as|
      %h5 dedicated-living
      = as.check_box :dedicated_living
      %h5 pool
      = as.check_box :pool
      %h5 kitchen
      = as.check_box :kitchen
      %h5 washer-machine
      = as.check_box :washer_machine
      %h5 wash-dry-machine
      = as.check_box :washer_dryer_machine
      %h5 parking
      = as.check_box :parking
      %h5 elevator
      = as.check_box :elevator
      %h5 gacuzzi
      = as.check_box :jacuzzi
      %h5 gym
      = as.check_box :gym

    %h3 overview
    = f.fields_for :overview do |overview|
      %h5 overview
      = overview.text_field :overview
      %h5 about-listing
      = overview.text_field :about_listing
      %h5 areas-avalable
      = overview.text_field :areas_available
      %h5 communication-frequ
      = overview.text_field :communication_frequency
      %h5 other-notice
      = overview.text_field :other_notices
      %h5 area-info
      = overview.text_field :area_information
      %h5 transportation
      = overview.text_field :transportation

    %h3 availability_setting
    = f.fields_for :availability_setting do |availability_setting|
      %h5 reserv-deadline
      = availability_setting.text_field :reservation_deadline
      %h5 chin-time-deadline-from
      = availability_setting.time_select :checkin_time_deadline_from
      %h5 chin-time dead-to
      = availability_setting.time_select :checkin_time_deadline_to
      %h5 acceptable-month-ahead
      = availability_setting.text_field :acceptable_month_ahead
      %h5 max-accom-range
      = availability_setting.text_field :muximum_accomodation_range
      %h5 min-accom-range
      = availability_setting.text_field :minimum_accomodation_range

    %h3 price
    = f.fields_for :price do |p|
      %h5 pricing-method
      = p.hidden_field :pricing_method, value: 1
      %h5 defo-price
      = p.text_field :default_price
      %h5 max-price
      = p.text_field :muximum_price
      %h5 min-price
      = p.text_field :minimum_price
      %h5 first-arrival-discount
      = p.check_box :first_arrival_discount
      %h5 weekly-discount
      = p.text_field :weekly_discount_rate
      %h5 monthly-discount
      = p.text_field :monthly_discount_rate
      %h5 cleaning-fee
      = p.text_field :cleaning_fee
      %h5 deposit
      = p.text_field :deposit
      %h5 add-fee-per-person
      = p.text_field :additional_fee_per_person

    %h3 home_rule
    = f.fields_for :home_rule do |home_rule|
      %h5 accept-kid
      = home_rule.check_box :accept_kids
      %h5 kid-reason
      = home_rule.text_field :kids_reason
      %h5 accept-baby
      = home_rule.check_box :accept_babies
      %h5 baby-reason
      = home_rule.text_field :babies_reason
      %h5 accept-pet
      = home_rule.check_box :accept_pet
      %h5 accept-smk
      = home_rule.check_box :accept_smoking
      %h5 accept-party
      = home_rule.check_box :accept_event_party

    %h3 home _notification
    = f.fields_for :home_notification do |home_notification|
      %h5 only-stairs
      = home_notification.check_box :only_stairs
      %h5 stair-detail
      = home_notification.text_field :stairs_detail
      %h5 noisy
      = home_notification.check_box :noisy
      %h5 noisy-detail
      = home_notification.text_field :noisy_detail
      %h5 pet-stayed
      = home_notification.check_box :pet_stayed
      %h5 pet-detail
      = home_notification.text_field :pet_detail
      %h5 no-parking
      = home_notification.check_box :no_parking
      %h5 parking-guide
      = home_notification.text_field :parking_guide
      %h5 share-space
      = home_notification.check_box :shared_space
      %h5 share-space-detail
      = home_notification.text_field :shared_space_detail
      %h5 limimted-amenity
      = home_notification.check_box :limited_amenity
      %h5 limited-amenity-detail
      = home_notification.text_field :limited_amenity_detail
      %h5 surveillance-cam
      = home_notification.check_box :surveillance_camera
      %h5 cam-detail
      = home_notification.text_field :camera_detail
      %h5 firearm
      = home_notification.check_box :firearm
      %h5 firearm-detail
      = home_notification.text_field :firearm_detail
      %h5 dangerous-animal
      = home_notification.check_box :dangerous_animal
      %h5 animal-detail
      = home_notification.text_field :animal_detail

    %h3  キャンセルポリシー
    = f.fields_for :cancel_policy do |c|
      %h5 厳しさ
      = c.select :strict_level, CancelPolicy.strict_levels.keys
      %h5 内容
      = c.text_field :text

    %h3 listing_photos
    = f.fields_for :listing_photos do |photo|
      %h5 img
      - 3.times do |i|
        = photo.hidden_field :user_id, value: 1
        = photo.file_field :image

  = f.submit
