.listing-s
  = link_to "#",data: {id: ''},class: 'favorite-btn', id: "like-button" do
    %i.fa.fa-heart.fa-lg.icon-favorite-pink
    %i.fa.fa-heart-o.fa-lg.icon-favorite-white
  .listing-slick
    - home.listing_photos.each do |photo|
      .listing-s__image.slick-sub
        = image_tag(photo.image)
  %button.listing-s__text{href: "homes/#{home.id}"}
    %p.listing-category.bold #{home.home_category_sub.name}
    %p.listing-title.bold #{home.name}
    %p.listing-price ¥#{home.price.default_price} /泊・キャンセル無料
    - if (home.user.superhost == "super")
      %span.listing-star ★★★★★
      %span.listing-reviewsum.bold 122
      %span.superhost.bold ・スーパーホスト
    - else
      %span.listing-star ★★★★★
      %span.listing-reviewsum.bold 122
