._1ibtygfe.clearfix
  ._1mtjcg0
    %h1.bold Airbnbで探す
    /[MORE]人気宿の多い都市を表示にしたい
  ._1ob6ca33.tag-slick
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("paris.png")
      .btn-text.inline
        %h2.bold.left パリ
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("newyork.png")
      .btn-text.inline
        %h2.bold.left ニューヨーク
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("sydney.png")
      .btn-text.inline
        %h2.bold.left シドニー
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("kapetown.png")
      .btn-text.inline
        %h2.bold.left ケープタウン
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("buenosaires.png")
      .btn-text.inline
        %h2.bold.left ブエノスアイレス
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("seoul.png")
      .btn-text.inline
        %h2.bold.left ソウル
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("barcelona.png")
      .btn-text.inline
        %h2.bold.left バルセロナ
    %a.square_btn{href: root_path}
      .btn-image.inline
        = image_tag("losangels.png")
      .btn-text.inline
        %h2.bold.left ロサンゼルス
