%p#notice= notice
%h1 Homes
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @homes.each do |home|
      %tr
        %td= link_to 'Show', home
        %td= link_to 'Edit', edit_home_path(home)
        %td= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Home', new_home_path
