.container

  //隠れヘッダー
  .clearfix#header_show
    .navibar
      %ul.navibar__list
        %li
          %a{href: "#overview", class: "scroll"} 概要
        %li
          %a{href: "#review", class: "scroll"} レビュー
        %li
          %a{href: "#host-introduction", class: "scroll"} ホストについて
        %li
          %a{href: "#address", class: "scroll"} ロケーション

  //トップ画像
  .heading-img
    = image_tag(@photos[0].image, class: "header-img", id: "show-modal")
    = @homes
    = @a

  //モーダル
  .photo-modal-wrapper
    .close-modal
      .fa.fa-times
    .listing-slick-3.modal.clearfix
      - @photos.each do |photo|
        .inmodal-img.slick-sub
          %a{href: "#"}
            = image_tag(photo.image, class: "modal-photo")
    %ul.thumnail-list.clearfix
      - @photos.each do |photo|
        %li.thumnail-item
          = image_tag(photo.image, class: "modal-thumbnail")
  .container-main
    .container-left
      .home-overview#overview
        .home-overview__heading
          .host-introduction__heading__host-pic.margin-top-15px
            = image_tag("host1.png", class: "host-pic")
          %span
            = "#{@home.home_category_sub.name}"
          %h3
            = "#{@home.name}"
          %p
            = "#{@home.prefecture}"
          %ul.clearfix
            %li
              %img{src: "https://png.icons8.com/ios/50/000000/conference-call-filled.png"}/
              %p
                = "ゲスト#{@home.capacity}人"
            %li
              %img{src: "https://png.icons8.com/wired/50/000000/door-opened.png"}/
              %p
                = "#{@home.number_of_bedroom}寝室"
            %li
              %img{src: "https://png.icons8.com/wired/50/000000/sleeping-in-bed.png"}/
              %p
                = "ベッド#{@home.number_of_beds}台"
            %li
              %img{src: "https://png.icons8.com/wired/50/000000/shower-and-tub.png"}/
              %p
                = "#{@home.number_of_bathroom}専用バスルーム"

        //概要
        .home-overview__highlight
          .home-overview__highlight__top-item
            %span.subtitle
              今注目の家です。
            %p ここ一週間で500レビュー突破。
          .home-overview__highlight__content
            %h4 宿泊先ハイライト
            .detail-item
            %span 入室がスムーズと大好評:
            %p 最近泊まった人の95%がチェックイン手順に5つ星を付けています。
            .thumb-up
              %p.fontsize-12px.left
                役に立った　
              %img.left{src: "https://png.icons8.com/wired/50/000000/facebook-like.png"}/
            .thumb-down
              %p.fontsize-12px
                役に立たなかった
            .detail-item
              %span 清潔感抜群:
              %p 最近のゲスト8人が、このお家はとても清潔だったと言っています。
              .thumb-up
              %p.fontsize-12px.left
                役に立った　
              %img.left{src: "https://png.icons8.com/wired/50/000000/facebook-like.png"}/
            .thumb-down
              %p.fontsize-12px
                役に立たなかった
            .detail-item
              %span 清潔感抜群:
              %p 最近のゲスト8人が、このお家はとても清潔だったと言っています。
              .thumb-up
              %p.fontsize-12px.left
                役に立った　
              %img.left{src: "https://png.icons8.com/wired/50/000000/facebook-like.png"}/
            .thumb-down
              %p.fontsize-12px
                役に立たなかった
        .japanese-translation
          %h4 日本語で読む　
        %p.additional-info
          ホストに連絡

        .home-overview__detail
          //スペース
          .home-overview__detail__item
            %h4.subtitle.clearfix スペース
            .readmore-item-space
              %p
                = @space.text

          //アメニティ
          .home-overview__detail__item.clearfix
            %h4.subtitle
              アメニティ・設備
            .amenity-contents.clearfix
              .home-overview__detail__amenities__left.clearfix
                .amenity_item
                  %img{src: "https://png.icons8.com/android/50/000000/wifi.png"}/
                  %h5 Wi-Fi
                .item-icon.amenity-icon.amenity_item
                  %img{src: "https://png.icons8.com/wired/50/000000/garage.png"}/
                  %h5 駐車場
                .item-icon.amenity-icon.amenity_item
                  %img{src: "https://png.icons8.com/wired/50/000000/hair-dryer.png"}/
                  %h5 ヘアドライヤー
              .home-overview__detail__amenities__right.clearfix
                .item-icon.amenity-icon.amenity_item
                  %img{src: "https://png.icons8.com/wired/50/000000/shampoo-dispenser.png"}/
                  %h5 シャンプー
                .item-icon.amenity-icon.amenity_item
                  %img{src: "https://png.icons8.com/wired/50/000000/shower-and-tub.png"}/
                  %h5 シャワー
                .item-icon.amenity-icon.amenity_item.clearfix
                  %img{src: "https://png.icons8.com/wired/50/000000/toaster.png"}/
                  %h5 朝食
            %p.additional-info.left
              20項目全てを表示

          //ベッド
          .home-overview__detail__item.detail_bed.clearfix
            %h4.subtitle ベッドのタイプ
            .beds-list
              - @beds.each.with_index(1) do |bed, i|
                .bed-item
                  .item-icon.bed-icon
                    - if bed.single_bed?
                      %img.left{src: "https://png.icons8.com/wired/50/000000/single-bed.png"}/
                    - if bed.double_bed?
                      %img.left.padding-top-2px{src: "https://png.icons8.com/wired/50/000000/bed.png"}/
                    - if bed.queen_bed?
                      %img.left.padding-top-2px{src: "https://png.icons8.com/wired/50/000000/bed.png"}/
                    - if bed.sofa_bed?
                      %img.left{src: "https://png.icons8.com/wired/50/000000/sofa.png"}/
                  %p.bold
                    = "寝室#{i}"
                  %p
                    = "シングルベッド #{bed.single_bed}台" if bed.single_bed?
                  %p
                    = "ダブルベッド #{bed.double_bed}台" if bed.double_bed?
                  %p
                    = "クイーンベッド #{bed.queen_bed}台"  if bed.queen_bed?
                  %p
                    = "ソファベッド #{bed.sofa_bed}台"   if bed.sofa_bed?
          //ハウスルール
          .home-overview__detail__item
            %h4.subtitle ハウスルール
            .readmore-item-house-rule
              %p
                - if @rules.accept_kids?
                  = "お子様に安全とは言えます (7歳未満)"
                - else
                  = "お子様には安全とは言えない/不向き (7歳未満)"
              %p
                - if @rules.accept_event_party?
                  = "パーティー&イベント大歓迎！"
                - else
                  = "パーティー&イベントお断り"
              %p
                - if @rules.accept_babies?
                  = "乳幼児に安全と言えます (2歳未満)"
                - else
                  = "乳幼児に安全とは言えない/不向き (2歳未満)"
              %p
                - if @rules.accept_smoking?
                  = "喫煙可能"
                - else
                  = "禁煙"
              %p
                - if @rules.accept_pet?
                  = "ペット同伴可能"
                - else
                  = "ペット同伴不可能"
              %p
                = @rules.kids_reason
              %p
                = @rules.babies_reason
          .home-overview__detail__item
            %h4.subtitle 予約可能状況
            %p 最低
            %span 1泊
            %span 2018年7月01日 - 2018年8月31日
            %span は最低
            %span 2泊
            %span
          %p.additional-info
            詳細を見る

          //レビュー
          .home-reviews#review
            .home-reviews__summary
              .home-reviews__summary__head.clearfix
                %h3.title.home-reviews__summary__number.left
                  レビュー223件
                  %span.listing-star ★★★★★
                .review__search.right
                  %input.search__query{name: "keyword", placeholder: "   レビュー検索", type: "search", class: "review-search"}
              .home-reviews__summary__body.clearfix
                .home-reviews__summary__body__left.left
                  .review-metric
                    %p 正確さ
                    %span.listing-star ★★★★★
                  .review-metric
                    %p コミュニケーション
                    %span.listing-star ★★★★★
                  .review-metric
                    %p 清潔さ
                    %span.listing-star ★★★★★
                .home-reviews__summary__body__right.left
                  .review-metric
                    %p ロケーション
                    %span.listing-star ★★★★★
                  .review-metric
                    %p チェックイン
                    %span.listing-star ★★★★★
                  .review-metric
                    %p コスパ
                    %span.listing-star ★★★★★
          .japanese-translation
            %h4 日本語にレビューを翻訳する
          .home-reviews__index
            - 2.times do
              .home-reviews__box
                .home-reviews__box__top.clearfix
                  .home-reviews__box__top__left.clearfix
                    = image_tag("user1.png", class: "user-pic")
                    .home-reviews__box__top__left__info.clearfix
                      %span.name.fontsize-12px 吉岡里帆
                      %p.fontsize-12px 2018年 5月
                  .home-reviews__box__top__right.clearfix
                    %img{src: "https://png.icons8.com/wired/50/000000/foul.png"}/
                .home-reviews__box__content
                  %p Beautifully located tree house in the Monferrato countryside. Even though probably every day a different guest comes by, Mauro's approach to the guests is remarkably personal and genuine, showing great passion for the tree house both in words and fact, keeping it in a great condi

          //ページネーション
          .pagination

          //ホスト紹介
          .host-introduction#host-introduction
            .host-introduction__heading.clearfix
              .host-info.clearfix
                .host-introduction__heading__left-item
                  %h3.title.align-left
                    = "ホストは#{@host.name}さん"
                  %p
                    = "#{@host.town}, #{@host.prefecture}, #{@host.country.name}、#{@host.created_at}からメンバー"
                .host-introduction__heading__host-pic
                  = image_tag("host1.png", class: "host-pic")
              .host-introduction__heading__subinfo.clearfix
                .number-of-reivews.left.clearfix
                  %img.left{src: "https://png.icons8.com/wired/50/000000/add-to-favorites.png"}/

                  %p.left レビュー500件
                .certification.left.clearfix
                  %img.left{src: "https://png.icons8.com/wired/50/000000/diploma.png"}/
                  %p.left 認証済み
            // 該当部分
            - if @host.superhost == "super"
              .host-introduction__title
                %span.bold.gray
                  = "#{@host.name}さんはスーパーホストです"
                  %p
                    スーパーホストとは素敵な滞在で高い評価を得ている経験豊富なホストに与えられる称号です。
            .host-introduction__text
              %p
                = @host.self_introduction
              .host-introduction__sub-info
                .language-use.clearfix
                  %p.left 言語：
                  %span.subtitle.left
                    = @host.language.name
                .response-rate.clearfix
                  %p.left 返答率：
                  %span.subtitle.left
                  100%
                .response-time.clearfix
                  %p.left 返答時間：
                  %span.subtitle.left
                  数時間以内
            .host-introduction__instruction
              %span.subtitle 連絡は常にAirbnbを通して行いましょう.
              %p  お支払をお守りするためにも、Airbnbのサイトやアプリ以外の場所では決して送金や連絡を行わないようご注意ください。
              %p.additional-info
                もっと詳しく
          // 地図
          .area-info#address
            .area-info__heading.readmore-item-map
              %h3.title.align-left エリア
              %p
                = "#{@host.name}さん宅の所在地は#{@host.town}, #{@host.prefecture}, #{@host.country.name}です。#{@host.name}さんの所在地は#{@host.country.name}です。"
            .area-info__map.clearfix
              :javascript
                function initMap() {

                    var test ={lat: #{@home.location_x}, lng: #{@home.location_y}};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: test
                    });
                    var transitLayer = new google.maps.TransitLayer();
                    transitLayer.setMap(map);

                    var contentString = '住所：#{@home.town}';
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    var marker = new google.maps.Marker({
                        position:test,
                        map: map,
                        title: contentString
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });
                }
              %script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC-dfkU5d_QrTHfUdG1Sv9kjKBXeZzQ2fk&callback=initMap"}
              #map.left.position-static
            %p 地図は正確な所在地を示しています。
          //類似のリスティング
          .similar-category
            %h3.title 類似のリスティング
            .similar-category__carsel.clearfix.listing-slick-2
              .similar-category__item.left.slick-sub
                = image_tag("home1.png", class: "similar-home")
                .listing-s__text
                  %p.listing-category.bold 小屋
                  %p.listing-title.bold Villa San Gennariello B&B
                  %p.listing-price ¥8,761 /泊・キャンセル無料
                  %span.listing-star ★★★★★
                  %span.listing-reviewsum.bold 122
              .similar-category__item.left.slick-sub
                = image_tag("home2.png", class: "similar-home")
                .listing-s__text
                  %p.listing-category.bold 小屋
                  %p.listing-title.bold Villa San Gennariello B&B
                  %p.listing-price ¥8,761 /泊・キャンセル無料
                  %span.listing-star ★★★★★
                  %span.listing-reviewsum.bold 122
              .similar-category__item.left.slick-sub
                = image_tag("home3.png", class: "similar-home")
                .listing-s__text
                  %p.listing-category.bold 小屋
                  %p.listing-title.bold Villa San Gennariello B&B
                  %p.listing-price ¥8,761 /泊・キャンセル無料
                  %span.listing-star ★★★★★
                  %span.listing-reviewsum.bold 122
              .similar-category__item.left.slick-sub
                = image_tag("home3.png", class: "similar-home")
                .listing-s__text
                  %p.listing-category.bold 小屋
                  %p.listing-title.bold Villa San Gennariello B&B
                  %p.listing-price ¥8,761 /泊・キャンセル無料
                  %span.listing-star ★★★★★
                  %span.listing-reviewsum.bold 122
    .container-right
      = render 'home_reservations/new', home_reservation: @home_reservation, home: @home
