.login_session_contents
  .login_session_contents__top_content
    = button_to '×'
  .login_session_contents__correction_position_top
  .login_session_contents__title_content
    %h1 ログイン
  .correction_position_top
  .login_session_contents__form_content
    = form_for(resource, as: resource_name, url: new_user_session_path(resource_name), html: {id: 'login_form'}) do |f|
      .field_input_area
        = f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email", class: 'login_form', id: 'login_email'
      .field_input_area
        = f.password_field :password, placeholder: "パスワード", autocomplete: "off", class: 'login_form', id: 'login_password'
      .field_checkbox_area
        = f.check_box :remember_me, id: 'login_checkbox'
        = f.label "ログイン情報を保存"
      .field_submit_area
        = f.submit "ログイン", class: 'login_btn', id: 'login_submit'
      %a.redirect_btn{href: root_path} パスワードをお忘れですか？
    .section_message または
  .correction_position_center
  .login_session_contents__split_button
    .left_login_btn
      %a.redirect_btn{href: root_path}
        %h3.bold Facebook
    .right_login_btn
      %a.redirect_btn{href: root_path}
        %h3.bold Google
  .login_session_contents__border_line
    %hr
  .login_session_contents__bottom_content
    .text_area アカウントはお持ちでないですか？
    %a.redirect_btn#switch_signup_branch{href: root_path} 登録

