!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Airbnb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{scr: "https://maps.googleapis.com/maps/api/js?key=&callback=initMap"}


  %body
    = render 'shared/header'
    .contents
      = yield
    = render "shared/footer"
